* {
    padding: 0;
    margin: 0;
    outline: 0;
    font-family: 'Quicksand', sans-serif;
}

body {
    align-items: center;
    height: 100vh;
    display: flex;
    justify-content: center;
}

/* Setup */

#initial-data {
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: right;
}

#initial-data label {
    margin-right: 5px;
}

#initial-data .input-form {
    margin: 5px;
    width: 50px;
    height: 40px;
    
    border-radius: 5px;
    border: none;
    padding: 0 10px;

    font-weight: bold;
}

#initial-data h4 {
    display: inline;
}

#initial-data .radio {
    display: inline;
}

#initial-data .box {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-form {
    width: 100%;
    height: 30px;
    font-weight: bold;
    
    border: none;
    background-color: orange;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-form:hover {
    background-color: rgb(185, 122, 4);
    color: white;
}

/* Pull Area */

#main {
    display: none;
}

article {
    width: 500px;
    height: 600px;
    background-color: #2b2d31;;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 20px;

    border-radius: 5px;
}

#pull {
    text-align: center;
    width: 320px;
    height: 450px;
    background-color: #f1f1f3;
    
    display: flex;
    flex-direction: column;
}

#pull h1 {
    margin: 10px;
}

/* Buttons */

#options {
    margin-top: 30px;
}

.btn {
    width: 120px;
    height: 60px;
    border-radius: 5px;
    background-color: #f1f1f3;
    border: 1px solid #2b2d31;
    margin: 5px;
    
    font-size: 12pt;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover {
    background-color: #2b2d31;
    color: white;
    border-color: #f1f1f3;
}

/* Reward Picture */

.item-area {
    width: 300px;
    height: 300px;
    margin-right: 10px;

    animation-name: item-anim;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.item {
    max-width: 300px;
    max-height: 300px;
}

/* Log */

aside {
    position: absolute;
    right: 0;
    width: 140px;
    height: 205px;

    border-radius: 5px 0 0 5px;
    background-color: #2b2d31;
    transition: 0.3s ease-in-out;

    padding: 20px;
}

aside p {
    color: white;
    font-weight: bold;
    font-size: 14pt;
    filter: opacity(1);
    transition: 0.3s;
}


/* Rate-UP Details */

#rateup {
    width: 400px;
    height: 500px;
    background-color: #2b2d31;
    position: absolute;
    border-radius: 0 5px 5px 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.char {
    max-width: 200px;
    max-height: 200px;
    position: absolute;
}

#char1 {
    top: 20%;
}

#char2 {
    left: 18%;
}

#char3 {
    right: 20%;
}

#event {
    bottom: 20%;
}

/* Wish Amount */

#wishArea {
    max-width: 75px;
    height: 30px;
    background-color: #2b2d31;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 0 0 0 20px;
    padding: 5px;

    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

#wishAmount {
    font-size: 14pt;
    font-weight: bold;
    color: white;
    margin-left: 5px;
}

#wishImg {
    width: 40px;
}

/* Credits */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    
    background-color: #2b2d31;
    color: #f1f1f3;
    font-weight: bold;
    font-size: 10pt;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: white;
    transition: 0.2s;
}

a:hover {
    color: orange;
}

/* Assets */
#trail {
    background-color: #0dd5f0;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    position: relative;

    border-radius: 0 25px 25px 0;
    
    animation-name: blue;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

#star {
    position: absolute;
    margin-right: -24px;
    margin-top: -5px;

    animation-name: pull-end;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

/* Animations */
@keyframes blue {
    0% {
        width: 0%;
        height: 40px;
    }

    75% {
        width: 320px;
        height: 40px;
    }

    100% {
        width: 320px;
        height: 400px;
        border-radius: 0;
    }
}

@keyframes purple {
    0% {
        width: 0%;
        height: 40px;
    }

    75% {
        width: 320px;
        height: 40px;
    }

    100% {
        background-color: #e738e7de;
        width: 320px;
        height: 400px;
        border-radius: 0;
    }
}

@keyframes orange {
    0% {
        width: 0%;
        height: 40px;
    }

    75% {
        width: 320px;
        height: 40px;
    }

    100% {
        background-color: #f8b809;
        width: 320px;
        height: 400px;
        border-radius: 0;
    }
}

@keyframes pull-end {
    0% {
        margin-top: -5px;
    }

    75% {
        margin-top: -5px;
    }

    100% {
        margin-top: 380px;
    }
}

@keyframes item-anim {
    0% {
        filter: opacity(0);
    }

    90% {
        filter: opacity(0);
    }

    100% {
        filter: opacity(1);
    }
}

@media screen and (max-width: 1200px) {
    #rateup {
        width: 250px;
        height: 300px;
    }
    
    .char {
        max-width: 150px;
        max-height: 150px;
    }

    #char1 {
        top: 7%;
    }
    
    #char2 {
        left: 7%;
    }
    
    #char3 {
        right: 7%;
    }
    
    #event {
        bottom: 7%;
    }
}

@media screen and (max-width: 900px) {
    /* Rate UP Tab */
    #rateup {
        width: 100px;
        height: 200px;
    }
    
    .char {
        max-width: 70px;
        max-height: 70px;
    }

    #char1 {
        top: 10%;
    }
    
    #char2 {
        left: 10%;
    }
    
    #char3 {
        right: 10%;
    }
    
    #event {
        bottom: 10%;
    }

    /* Log */
    aside {
        width: 120px;
        height: 175px;
        padding: 10px;
    }
    
    aside:hover {
        width: 160px;
    }
    
    aside p {
        font-size: 11pt;
        filter: opacity(0);
        display: none;
    }
    
    aside:hover p {
        display: block;
        filter: opacity(1)
    }
}

@media screen and (max-width: 600px) {
    aside {
        width: 10px;
        height: 175px;
        padding: 10px;
        transition: 0s;
    }

    aside:hover {
        width: 120px;
    }
}

@media screen and (max-width: 540px) {
    /* buttons */
    #options {
        margin-top: 15px;
    }
    
    .btn {
        width: 95px;
        height: 40px;
        margin: 10px;
        font-size: 10pt;
    }

    /* Pull Area */

    article {
        top: 0;
        position: absolute;
        width: 360px;
        height: 530px;
        
        padding: 5px;
        padding-top: 20px;
    }
}

@media screen and (max-width: 370px) {
    .btn {
        width: 80px;
        height: 35px;
        margin: 5px;
        font-size: 8pt;
    } 
}